@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.loading {
  text-align: center;

  .loading-img {
    margin: 60px 0 0 0;
    @include setDimensions(125px, 125px);
  }

  .loading-text {
  color: $main-color;
  font-family: $star-wars-font;
  margin-bottom: 50px;
  }
}