@font-face {
  font-family: Starjedi;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/718469/Starjedi.ttf);
  font-weight: normal;
}

$main-color: hsla(51, 100%, 50%, 1);
$star-wars-font: ‘Starjedi’;