@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.buttons {
  grid-row: 3/4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

button {
  background-color: $main-color;
  margin: 20px;
  margin-top: 5px;
  height: 60px;
  width: 275px;
  font-size: 1.5em;
  font-family: $star-wars-font;
  border: 5px solid #fff;
}

button:hover {
    font-size: 1.75em;
}

.active {
  color: $secondary-color;
  font-size: 1.3em;
  height: 65px;
  width: 205px;
}



