@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.App {
  display: grid;
  grid-template-rows: 10% 30% 15% 45%;
  background: url(../../images/background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  grid-row: 1/2;
  h1 {
    font-family: $star-wars-font;
    font-size: 5em;
    text-align: center;
    margin: 0;
    color:$main-color;
  }
}

.loading {
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  .loading-text {
  color:$main-color;
  font-family: $star-wars-font;
  }
}
