@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

.App {
  display: grid;
  grid-template-rows: 10% 35% 10% 45%;
  background: url(../../images/background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}
