@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';

header {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;

  a {
    text-decoration: none;
  }

  h1 {
    @include setDimensions(0,0);
    font-family: $star-wars-font;
    text-align: center;
    color: black;
    text-shadow: -1px 0 $main-color, 0 1px $main-color, 1px 0 $main-color, 0 -1px $main-color;
  }
}