@import '../../sass/_mixins.scss';
@import '../../sass/_variables.scss';


  .Showcase {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 2/3;
  }
  
  .fade {
    position: relative;
    width: 100%;
    top: -25px;
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    color: $main-color;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 100%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }